<!DOCTYPE html>
<html>
  <head>
    <title>RecipeThyme</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">

    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "bundle", defer: true %>
    <%# <%= javascript_include_tag "bundle" %> 


    <% if logged_in? %>
      <script id="user-data" type="application/json">
        <%= {
          current_user: {
            id: current_user.id,
            username: current_user.username,
            first_name: current_user.first_name,
            last_name: current_user.last_name,
            email: current_user.email
          }
        }.to_json.html_safe %>
      </script>
    <% end %>
    
  </head>

  <body classname="body-home">
    <%= yield %>
  </body>
</html>
